.player1 {display : inline-block; float: left; margin-left: 50px;}
.player2 {display : inline-block; float: right;margin-right: 50px;}

.sol  { width : 50px; height: 50px; border: solid 2px black; display: inline-block; margin-bottom: 20px;}
.sol2  { width : 50px; height: 50px; border: solid 2px black; display: inline-block; margin-bottom: 20px;}

.table  { width : 400px; height: 400px;}
.table2 { width : 400px; height: 400px;}

.large  { width : 50px; height: 50px; border: solid 2px black; display: inline-block;}
.large2 { width : 50px; height: 50px; border: solid 2px black; display: inline-block;}

.small  { width : 20px; height: 20px; border: solid 1px grey; display: inline-block;vertical-align : top}
.small2 { width : 20px; height: 20px; border: solid 1px grey; display: inline-block;vertical-align : top}

.howTo  {margin-top: 40px;width : 400px; height: 2000px; display : inline-block;}
.howTo2 {margin-top: 40px;width : 400px; height: 2000px; display : inline-block;}

.rabbit {width : 50px; height: 50px; border: solid 2px black; display: inline-block;}
.rabbit2{width : 50px; height: 50px; border: solid 2px black; display: inline-block;}

.keyboard {width : 50px; height: 50px; border: solid 2px black; display: inline-block;
font-family : Verdana;
font-weight: bold;
font-size : 30px;
color : black;
text-align: center;
line-height: 50px;
}

.keyboard2 {width : 50px; height: 50px; border: solid 2px black; display: inline-block;
font-family : Verdana;
font-weight: bold;
font-size : 30px;
color : black;
text-align: center;
line-height: 50px;
}


.pink {background-image: url("../images/pinkrabbit.jpg"); background-size: 50px 50px;}
.violet {background-image: url("../images/violetrabbit.jpg"); background-size: 50px 50px;}
.yellow {background-image: url("../images/yellowrabbit.jpg"); background-size: 50px 50px;}
.blue {background-image: url("../images/bluerabbit.jpg"); background-size: 50px 50px;}

.small.green {background-color: green; }
.small2.green2 {background-color: green; }

.red {background-color: red}
.red2 {background-color: red}

.black  {background-color: black}
.black2  {background-color: black}

img { width : 50px; height: 50px;}