@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

p#rules {
  font-family: "Pacifico", cursive;
  font-size: 16px;
  padding : 10px;
  text-align: center;
  text-align: justify;
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
}

p#winner2 {
  font-family: "Pacifico", cursive;
  font-size: 16px;
  padding : 10px;
  text-align: center;
  text-align: justify;
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
}

.left-panel {display : inline-block; vertical-align: top; width: 33%;}
.right-panel {display : inline-block; text-align: right;vertical-align: top; width: 33%;}
.middle-panel { display: inline-block; vertical-align: top; width: 33%; background-image: url(../images/il_570xN.733408138_o9li.jpg); background-repeat: no-repeat; background-position: center bottom -40px; height: calc(100vh - 135px); }

.solution {border : solid 3px #ffc1c1 ;width : 230px; height: 60px; display: inline-block; margin-bottom: 10px;}
.solution2 {border: solid 3px  #ffc1c1; width : 230px; height: 60px; display: inline-block;margin-bottom: 10px;}

.solution p {font-family: "Pacifico", cursive; font-size: 20px; text-align: center; color: #ffc1c1;}
.solution2 p {font-family: "Pacifico", cursive; font-size: 20px;text-align: center; color: #ffc1c1;}

.sol  { width : 50px; height: 50px; display: inline-block; margin-bottom: 20px;border-radius: 50px; margin-top: 4px; margin-left: 2px; /*display: none;*/}
.sol2  { width : 50px; height: 50px; display: inline-block; margin-bottom: 20px;border-radius: 50px;  margin-top: 4px;margin-left: 2px;/*display: none;*/}

.table  { height: 400px;}
.table2 { height: 400px;}

.large  { width : 50px; height: 50px; border: solid 1px  #eeeeee; display: inline-block; border-radius: 50%; }
.large2 { width : 50px; height: 50px; border: solid 1px  #eeeeee; display: inline-block; border-radius: 50%}

.small  { width : 10px; height: 10px; display: inline-block;vertical-align : top}
.small2 { width : 10px; height: 10px; display: inline-block;vertical-align : top}

.howTo  {margin-top: 40px;width : 400px; display : inline-block;font-family: "Pacifico", cursive; font-size: 15px;}
.howTo2 {margin-top: 40px;width : 400px; display : inline-block;font-family: "Pacifico", cursive; font-size: 15px;}

.rabbit {width : 50px; height: 50px; border: solid 2px black; display: inline-block;}
.rabbit2{width : 50px; height: 50px; border: solid 2px black; display: inline-block;}

.keyboard {width : 50px; height: 50px; border: solid 2px black; display: inline-block;
font-family : Verdana;
font-weight: bold;
font-size : 30px;
color : black;
text-align: center;
line-height: 50px;
}

.keyboard2 {width : 50px; height: 50px; border: solid 2px black; display: inline-block;
font-family : Verdana;
font-weight: bold;
font-size : 30px;
color : black;
text-align: center;
line-height: 50px;
}


.pink {background-image: url("../images/pinkrabbit.jpg"); background-size: 50px 50px;width : 50px; height: 50px; }
.violet {background-image: url("../images/violetrabbit.jpg"); background-size: 50px 50px;width : 50px; height: 50px; }
.yellow {background-image: url("../images/yellowrabbit.jpg"); background-size: 50px 50px;width : 50px; height: 50px; }
.blue {background-image: url("../images/bluerabbit.jpg"); background-size: 50px 50px;width : 50px; height: 50px; }

.small.green {background-color: #6fcb9f; }
.small2.green2 {background-color: #6fcb9f; }

.red {background-color:  #fb2e01}
.red2 {background-color: #fb2e01}

.black  {background-color: #666547}
.black2  {background-color: #666547}

.rabbit img { width : 50px; height: 50px;}
.rabbit2 img { width : 50px; height: 50px;}

.visible p {display:none;}
.visible2 p {display: none;}

.visible .sol  {display:inline-block;}
.visible2  .sol2 {display: inline-block;}

